<html>
<body>
<h1>Add a Student</h1>
    <form action="/add-student-create">
        <label for="name">Student Name: (ie. Full Name)</label>
        <input type="text" name="name" /><br/><br/>
        <label for="title_company">Title and Company (ie. Software Engineer, Eventbrite): </label>
        <input type="text" name="title_company" /><br/><br/> 
        <label for="hb_class">HB Class (ie. Fall 2012)</label>
        <input type="text" name="hb_class" /><br/><br/> 
        <label for="headshot_img_url">Headshot: (ie. URL to your headshot))</label>
        <input type="text" name="headshot_img_url" /><br/><br/> 
        <input type="submit">
    </form>
</div>
</body>
</html>