<html>
<body>
<h1>Add a Student</h1>
    <form action="/add-student-create">
        <label for="name">Student Name: </label>
        <input type="text" name="name" /><br/><br/>
        <label for="title_company">Title and Company (ie. Software Engineer, Buffer): </label>
        <input type="text" name="title_company" /><br/><br/> 
        <label for="hb_class">HB Class (ie. Summer 2012)</label>
        <input type="text" name="hb_class" /><br/><br/> 
        <input type="submit">
    </form>
</div>
</body>
</html>