<html>
<header>
    <title>Add an Event</title>
</header>
<body>
<h1>Add an Event</h1>
    <form action="/add-event-create">
        <label for="title">Title of Event: (ie. Graduated College)</label>
        <input type="text" name="title" /><br/><br/>
        <label for="date">Date (ie. Spring 2004): </label>
        <input type="text" name="date" /><br/><br/> 
        <label for="description">Description (ie. In college, I studied...)</label>
        <input type="text" name="description" /><br/><br/> 
        <label for="user_id">Student ID #: (ie. to link event to student)</label>
        <input type="text" name="user_id" /><br/><br/> 
        <input type="submit">
    </form>
</div>
</body>
</html>