<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Students and Events</title>
</head>
<body>
    <h1>Student Life</h1>
<img src="{{ student.headshot_img_url }}" class="img-circle">
<h2 style="margin-bottom:0px; padding-bottom:0px;">{{ student.name }}</h2>
<h2 style="margin-top:0px; padding-top:0px;">({{ student.title_company }})</h2>
Hackbright Academy graduate - class of {{ student.hb_class }}<br />
<br />
<small><em>Location in database: student table id #{{ student.id }}</em></small>
<br clear="all">
<br />

{% for event in student.events %}
<h2>{{ event.title }} ({{ event.date }})</h2>
{{ event.description }}
{% endfor %}

</body>
</html>